@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Dlaczego Starfield to niewypał</PageTitle>

<h1>Dlaczego Starfield to niewypał</h1>

<ul>
<li> Słaba grafika</li>
<li> Nudne dialogi</li>
<li> Drewniana walka</li>
<li> Leniwy level design</li>
<li> Praktyczny brak muzyki </li>
<li> Puste światy </li>
<li> Beznadziejna fabuła </li>
<li> Cena </li>
</ul>

<img src="https://pbs.twimg.com/media/F-6K5NXWsAAsrUq?format=jpg&name=large" alt="text" width=800 height=600 border=z>

