@page "/"

<PageTitle>Arkadiusz Olejniczak nr albumu 119219</PageTitle>

<h1>Arkadiusz Olejniczak</h1>
<h1>nr albumu: 119219</h1>
<h3>Starfield faces</h3>
<img src="https://preview.redd.it/why-do-the-characters-look-like-that-im-scared-v0-36u3zmaatqlb1.jpg?auto=webp&s=4d8bed9cdd81bcd3f85c46c94ee50eb3e82273df" alt="text" width=1000 height=900 border=z>


<SurveyPrompt Title="How is Blazor working for you?" />
